@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:Wordle;
  src: url('./assets/Wordle-Font.ttf');
}
.Wordle{
  font-family: Wordle;
}
@font-face {
  font-family: ClearSans;
  src: url('./assets/clear-sans.bold.ttf');
}
.ClearSans{
  font-family: ClearSans;
}

body{
  background-color: #FFE6F0;
}

::selection {
  color: #FF2E82;
  background: #ff9ac3;
}

body {
  color: #ff9dc2;
}

h1 {
  color: #fd8cb8;
}

h2 {
  color: #ff78ac;
}
